// Your custom styles
//variables
$hero-bg-color: #3f51b5;
$rgba-hero-bg: rgba(126, 123, 215, 0.2);
// end of variables
// general edits
.my-line {
	width: 60px;
	border: 3px solid $hero-bg-color;
}

.my-line-lg {
	width: 100px;
	border: 3px solid $hero-bg-color;
}

.header {
	margin: 5em auto;
}

.pad-5 {
	padding: 5px;
}

// end of general edits
html,
body {
	height: 100%;
}

/* Mobile styling for other mobile platforms */

@media (max-width: 740px) {
	html,
	body {
		height: 100%;
	}
}

@media (min-width: 800px) and (max-width: 850px) {
	html,
	body {
		height: 100%;
	}
}

@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse) {
		background: $hero-bg-color !important;
	}
}

@media (min-width: 800px) and (max-width: 850px) {
	.navbar:not(.top-nav-collapse) {
		background: $hero-bg-color !important;
	}
}

/* End of mobile edits for mobile platforms */

.top-nav-collapse {
	background-color: $hero-bg-color !important;
}

.navbar:not(.top-nav-collapse) {
	background: $hero-bg-color !important;
}

.rgba-gradient {
	background: -webkit-linear-gradient( 60deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.7) 100%);
	background: -webkit-gradient( linear, 60deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.8) 100%));
	background: linear-gradient( to 60deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.8) 100%);
}

.card {
	background-color: $rgba-hero-bg;
	text-align: center;
}

.md-form label {
	color: #ffffff;
}

h6 {
	line-height: 1.7;
}

.header {
	text-align: center;
}

.card-over {
	margin-top: -200px;
	z-index: 10000;
	background: #fff;
	width: 980px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}

/* Carousel slider styles */

.carousel,
.img-responsive {
	height: 650px !important;
}

.img-responsive {
	img {
		background-size: contain !important;
		background-position: center center !important;
		background-attachment: fixed !important;
		height: 650px !important;
	}
}

.carousel-caption {
	bottom: 200px !important;
	.hero-text {
		font-size: 55px !important;
	}
	.hero-subtext {
		font-size: 32px !important;
	}
}

/* Carousel slider styles */

.register-section {
	background-image: url('../images/location.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	width: 100%;
	.custom-overlay {
		background-color: rgba(0, 0, 0, .8) !important;
	}
	.new-desc {
		color: #ffffff;
		padding-top: 1em;
	}
	.col-spacing {
		margin-bottom: 3.5em;
	}
	.custom-card-bg {
		background-color: #fff;
	}
}

.contact-card {
	width: 400px;
	margin: auto;
}

/*  Google maps styling */

#map-container {
	height: 650px;
	width: 100%;
	position: relative;
}

/*  Google maps styling */

.nav-tabs {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	border: 0;
	padding: .7rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: -20px;
	background-color: #2bbbad;
	z-index: 1;
	position: relative;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
}

.waves-effect {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.nav-tabs .nav-link {
	border: 0 !important;
	border-radius: 0 !important;
}

.nav-link.active {
	background: rgba(0, 0, 0, .15) !important;
	border-color: transparent !important;
}

.nav-link a:hover {
	border: 0 !important;
	border-radius: 0 !important;
	border-color: transparent !important;
}

.card {
	background: #fff !important;
}

.btn-floating {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	width: 47px;
	height: 47px;
	position: relative;
	z-index: 1;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	margin: 10px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	padding: 0;
	cursor: pointer;
}

.btn-fb {
	background-color: #3b5998 !important;
	color: #fff !important;
}

.btn-tw {
	background-color: #55acee !important;
	color: #fff !important;
}

.btn-li {
	background-color: #0082ca !important;
	color: #fff !important;
}

.btn-ins {
	background-color: #2e5e86 !important;
	color: #fff !important;
}